.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.file-input {
    margin-bottom: 10px;
}
.container{
    margin-top: 23%;
    border: 2px dashed solid;
}
.upload-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.upload-button:hover {
    background-color: #0056b3;
}
